# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdm

# Virtual Environment
venv/
env/
.virtualenv/
.Python
pyvenv.cfg

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot

# Django Migrations
*/migrations/*
!*/migrations/__init__.py

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Environment Variables
.env
*.env

# Node.js (если есть фронтенд в проекте)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover

# Mypy
.mypy_cache/
dmypy.json
dmypy.log

# Testing
.pytest_cache/
.testmondata

# Temporary files
*.tmp
*.swp
*.swo

#Google Cloud Service Account Credentials
edutube-453506-eded5f992512.json